# File Types
##################
*.pyc
.DS_Store
.session
*.epub

# Specific files #
#################
db.sqlite*
db.sqlite3*
.idea/
.env
.env.pytest
.env.backup
.session
/venv
Texte-2017/
bookbuild_src/static/
bookbuild_src/importer/source/
bookbuild_src/importer/export/export.docx
bookbuild_src/db_backup/
bookbuild_src/media/
bookbuild_src/ebook_exporter/Add2Epub/OEBPS/images
