.en_brown {
color:#311414;
}
.en_yellow {
color:#F8B64A;
}
@font-face
{
font-family: 'Fanfare';
src: url('../fonts/FanfareJF.ttf');
}
@font-face
{
font-family: 'Merriweather-Bold';
src: url('../fonts/Merriweather-Bold.otf');
}
@font-face
{
font-family: 'SourceSansPro-Semibold';
src: url('../fonts/SourceSansPro-Semibold.otf');
}
@font-face
{
font-family: 'OpenSans-ExtraBold';
src: url('../fonts/OpenSans-ExtraBold.otf');
}
@font-face
{
font-family: 'OpenSans-Bold';
src: url('../fonts/OpenSans-Bold.otf');
}
@font-face
{
font-family: 'OpenSans-Regular';
src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face
{
font-family: 'OpenSans-Italic';
src: url('../fonts/OpenSans-Italic.otf');
}
@font-face
{
font-family: 'JosefinSans-Bold';
src: url('../fonts/JosefinSans-Bold.otf');
}
@font-face
{
font-family: 'SourceSansPro-Light';
src: url('../fonts/SourceSansPro-Light.otf');
}
@font-face
{
font-family: 'SourceSansPro-ExtraLight';
src: url('../fonts/SourceSansPro-ExtraLight.otf');
}
@font-face
{
font-family: 'SourceSansPro-ExtraLight-Italic';
src: url('../fonts/SourceSansPro-ExtraLightIt.otf');
}
@font-face
{
font-family: 'SourceSansPro-Italic';
src: url('../fonts/SourceSansPro-It.otf');
}
@font-face
{
font-family: 'SourceSansPro-Light-Italic';
src: url('../fonts/SourceSansPro-LightItalic.ttf');
}
@font-face
{
font-family: 'SourceSansPro-Bold';
src: url('../fonts/SourceSansPro-Bold.otf');
}
@font-face
{
font-family: 'SourceSansPro-Black';
src: url('../fonts/SourceSansPro-Black.otf');
}
@font-face
{
font-family: 'JosefinSans-Regular';
src: url('../fonts/JosefinSans-Regular.otf');
}
@font-face
{
font-family: 'SourceSansPro-Regular';
src: url('../fonts/SourceSansPro-Regular.otf');
}
@font-face
{
font-family: 'CrimsonText-Roman';
src: url('../fonts/CrimsonText-Roman.otf');
}
@font-face
{
font-family: 'CrimsonText-Semibold';
src: url('../fonts/CrimsonText-Semibold.otf');
}
@font-face
{
font-family: 'CrimsonText-SemiboldItalic';
src: url('../fonts/CrimsonText-SemiboldItalic.otf');
}
@font-face
{
font-family: 'Merriweather-Black';
src: url('../fonts/Merriweather-Black.otf');
}
@font-face
{
font-family: 'CrimsonText-Italic';
src: url('../fonts/CrimsonText-Italic.otf');
}
@font-face
{
font-family: 'OpenSans-Semibold';
src: url('../fonts/OpenSans-Semibold.otf');
}
@font-face
{
font-family: 'Merriweather-BoldItalic';
src: url('../fonts/Merriweather-BoldItalic.otf');
}
@font-face
{
font-family: 'OpenSans-CondBold';
src: url('../fonts/OpenSans-CondBold.ttf');
}


a
{
text-decoration:none;
font-weight:bolder;
font-size: 105%;
color:#F8B64A;
}
.a1
{
text-decoration:none;
color:inherit;
}
sup
{
font-size:0.6em;
line-height:0.70em;
font-weight:bold;
}
sub
{
font-size:0.6em;
line-height:0.70em;
font-weight:bold;
}
body
{
margin:0.5em;
}
img
{
max-width: 100%;
max-height: 90%;
padding: 0;
margin: 0;
}
.taste-table-constant {
  text-align:left;
  width:30%;
}
.taste-table-variable {
  text-align:center;
  width:70%;
}

#roasting-table {
  page-break-before:always;
  page-break-inside:avoid!important;
  width:100%;
}
.centered
{
text-align: center!important;
}
.page
{
page-break-before:always;
}
.page1
{
page-break-inside:avoid;
}
.page-end
{
page-break-after: always;
}
.cover
{
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.half
{
font-family: 'RequiemText-HTF-SmallCaps';
margin-top:2.5em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
font-size:4em;
text-align:center;
line-height:90%;
}
.title
{
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
span.bentonsas-bold-time
{
font-family: 'OpenSans-Bold';
}
span.bentonsas-bold
{
font-family: 'OpenSans-Bold';
}
span.bentonsas-boldm
{
font-size:0.9em;
font-family: 'OpenSans-Bold';
}
span.BentonSansFB-BookOblique
{
font-family: 'OpenSans-Italic';
}
span.brandontext-bold
{
font-family: 'SourceSansPro-Bold';
}
span.act-bold
{
font-family: 'CrimsonText-Semibold';
}
span.actdm
{
font-family: 'Merriweather-Bold';
}
.brandont-blockc
{
font-family: 'SourceSansPro-Black';
font-size:1em;
/* color:#00adef; */
/* color:#7f277e; */
color:#c85118;

}
.brandont-block
{
font-family: 'SourceSansPro-Black';
}
.ben-med
{
font-family: 'OpenSans-Semibold';
}
.brandontxt-l
{
font-family: 'SourceSansPro-Light';
font-size:0.9em;
}
span.brandontxt-bold
{
font-family: 'SourceSansPro-Bold';
/* color:#00adef; */
color:#7f277e;
}
.Acta-BoldItalic
{
font-family: 'CrimsonText-SemiboldItalic';
}
.Acta-BookItalic
{
font-family: 'CrimsonText-Italic';
}
.Acta-MediumItalic
{
font-family: 'CrimsonText-SemiboldItalic';
}
.act_deckbook-Ital
{
font-family: 'OpenSans-Italic';
}
.act_deckmedium-Ital
{
font-family: 'Merriweather-BoldItalic';
}
.BentonSansCompFB-Black
{
font-family: 'OpenSans-CondBold';
}
.BentonSansFB-Bold
{
font-family: 'OpenSans-Bold';
}
.BentonSansFB-Bookiltalic
{
font-family: 'OpenSans-Italic';
}
.BentonSansFB-BookOblique
{
font-family: 'OpenSans-Italic';
}
.bentonsas-black
{
font-family: 'OpenSans-ExtraBold';
}
.bentonsas-bold
{
font-family: 'OpenSans-Bold';
}
.bentonsas-bold-num
{
font-family: 'OpenSans-Bold';
}
.bentonsas-bold-time
{
font-family: 'OpenSans-Bold';
}
.bentonsas-book
{
font-family: 'OpenSans-Regular';
}
.bentonsblack
{
font-family: 'OpenSans-ExtraBold';
}
.boldpage
{
font-family: 'OpenSans-Bold';
}
.BrandonGrotesque-Regular
{
font-family: 'JosefinSans-Regular';
}
.BrandonText-Black
{
font-family: 'SourceSansPro-Black';
}
.brantblack
{
font-family: 'SourceSansPro-Black';
font-size:0.9em;
}
.brantm
{
font-family: 'SourceSansPro-Semibold';
}
.italic-acta
{
font-family: 'CrimsonText-SemiboldItalic';
font-size:0.9em;
}
.italic-bentonsasbook
{
font-family: 'OpenSans-Italic';
}

.int-tit
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:0.5em;
margin-bottom:0.5em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:3em;
line-height:100%;
}
.bm-noindent, td.bm-noindent
{
font-family: 'OpenSans-Regular';
margin-top:0.5em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-size:1em;
line-height:120%;
}
td.bm-noindent
{
width:49%;
padding: 0.5em;
}
.bm-noindent1
{
font-family: 'OpenSans-Regular';
margin-top:1.5em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-size:1em;
line-height:120%;
}
.indent
{
font-family: 'Sentinel-Book';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:1.2em;
text-align:justify;
font-size:1em;
line-height:120%;
}
.indent1
{
font-family: 'Sentinel-Book';
margin-top:1.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:1.2em;
text-align:justify;
font-size:1em;
line-height:120%;
}
.drop
{
float:left;
font-family: 'ClarendonBT-BoldCondensed';
margin-top:-0.2em;
margin-bottom:-0.2em;
margin-right:0.1em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:5em;
line-height:120%;
}
.image
{
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.image2
{
margin-top:1em;
margin-bottom:1em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.image1
{
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.st1
{
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.st2
{
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.imagez
{
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
border-bottom:5px solid;
padding-bottom:1em;
}
.star
{
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.starb
{
margin-top:0.5em;
margin-bottom:0.5em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.starb1
{
margin-top:0.5em;
margin-bottom:1em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.cntr
{
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.no-margin
{
margin-top:0;
margin-bottom:0;
}
.rec-I
{
margin-top:1em;
margin-bottom:0.6em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.rec-IBox
{
margin-top:1em;
margin-bottom:0.6em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.FOR-I
{
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:LEFT;
}
.imageC
{
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
}
.cpy1
{
font-family: 'Sentinel-Medium';
margin-top:3em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.cpy
{
font-family: 'Sentinel-Medium';
margin-top:1.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.cpya
{
font-family: 'Sentinel-Medium';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:1.2em;
text-indent:-1.2em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.con-tit
{
font-family: 'Merriweather-Bold';
margin-top:1em;
margin-bottom:0.5em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:2.3em;
line-height:120%;
}
.toc
{
font-family: 'SourceSansPro-Light';
margin-top:0.5em;
margin-bottom:0em;
margin-right:0em;
margin-left:1em;
text-indent:0em;
text-align:left;
font-size:1.2em;
line-height:120%;
}
.toc1
{
font-family: 'Sentinel-Book';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:5em;
text-indent:0em;
text-align:left;
font-size:1.2em;
line-height:120%;
}
.toc2
{
font-family: 'Sentinel-Medium';
margin-top:0.3em;
margin-bottom:0em;
margin-right:0em;
margin-left:4.5em;
text-indent:0em;
text-align:left;
font-size:1.3em;
line-height:120%;
}
.toc2a
{
font-family: 'Sentinel-Medium';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:4.5em;
text-indent:0em;
text-align:left;
font-size:1.3em;
line-height:120%;
}
.Chapter-num
{
font-family: 'Sentinel-Black-SC700';
margin-top:1em;
margin-bottom:0.5em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:0.9em;
line-height:120%;
}
.line
{
margin-top:2em;
}
.Chapter-Title
{
/* font-family: 'Merriweather-Bold'; */
font-family: 'Fanfare';
page-break-before:always;
/* margin-top:1em; */
/* margin-bottom:1em; */
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:4em;
line-height:120%;
}
.Chapter-Img
{
  min-height:4em;
  color:#FFFFFF;
  height:100%;
  /* margin-top:-55%; */
  /* top:40%; */
}

h2.Chapter
{
font-family: 'Merriweather-Bold';
margin-top:1.7em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.5em;
line-height:110%;
}
h3.Chapter
{
font-family: 'Merriweather-Bold';

margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
}

p.References
{
font-size:85%;
word-wrap: break-word;
color:#303030;
}
h1.References
{
font-family: 'Merriweather-Bold';
margin-top:1.3em;
margin-bottom:0.3em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.5em;
line-height:120%;
}
.References > a
{
font-family: 'Merriweather-Bold';
text-decoration: none;
font-weight: bold;
font-size: inherit;
color: inherit;
}
.fm-title1
{
font-family: 'Merriweather-Bold';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1.8em;
line-height:120%;
/* color:#00adef; */
color:#7f277e;
}
.fm-title
{
font-family: 'Merriweather-Bold';
margin-top:0.2em;
margin-bottom:0.5em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:2.2em;
line-height:120%;
}
.fm-titlea
{
font-family: 'Merriweather-Bold';
margin-top:2em;
margin-bottom:0.2em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:2.5em;
line-height:120%;
}
.sub-title
{
font-family: 'SourceSansPro-Bold';
margin-top:0.2em;
margin-bottom:6em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1em;
/* color:#00adef; */
color:#7f277e;
line-height:120%;
}
.act-title-bold
{
font-family: 'Merriweather-Bold';
margin-top:1em;
margin-bottom:0.2em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.1em;
line-height:120%;
}
.act-ser
{
font-family: 'CrimsonText-SemiboldItalic';
margin-top:0.2em;
margin-bottom:0.2em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}

.Chapter-t
{
font-family: 'Sentinel-Light';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}

.Chapter-sub-Title
{
font-family: 'Merriweather-Black';
margin-top:0.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1.8em;
line-height:120%;
padding-bottom:0.5em;
border-bottom:1px solid;
}
.bm-title
{
font-family: 'SourceSansPro-Black';
margin-top:1em;
margin-bottom:0.2em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.3em;
line-height:120%;
}
.bm-title1
{
font-family: 'JosefinSans-Bold';
margin-top:1em;
/* margin-bottom:1em; */
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1.5em;
line-height:120%;
}
.bm-title2
{
font-family: 'JosefinSans-Bold';
margin-top:0.75em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
font-size:1em;
line-height:115%;
}
.content-recipe-title
{
font-family: 'JosefinSans-Regular';
margin-top:0.5em;
margin-bottom:0.5em;
margin-right:0em;
margin-left:0em;
text-indent:2em;
font-size:1em;
}
.bm-title2> a, .content-recipe-title >a {
  color:inherit;
}
.index-title
{
font-family: 'JosefinSans-Bold';
margin-top:0.75em;
margin-bottom:0.75em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
font-size:1em;
line-height:105%;
}
.index-recipe
{
font-family: 'JosefinSans';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:2em;
font-size:0.75em;
}

.resources-table {
  width:100%;
}
td.resources-table {
  width:49%;
}

.resources-shop-country
{
font-family: 'JosefinSans-Bold';
margin-top:0.5em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
font-size:1em;
}
.titlesub-Intro
{
font-family: 'SourceSansPro-Light';
margin-top:0.5em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.2em;
line-height:120%;
}
.tip-bratrtit1-intro
{
font-family: 'CrimsonText-Roman';
margin-top:0.5em;
margin-bottom:0.5em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}
.act-box-title-bold
{
font-family: 'Merriweather-Bold';
margin-top:1.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1em;
line-height:120%;
/* color:#00adef; */
color:#7f277e;
}
.Box_Caption-Ital
{
font-family: 'CrimsonText-SemiboldItalic';
margin-top:0.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1em;
line-height:120%;
}
.rec-capbrantc
{
font-family: 'SourceSansPro-Bold';
margin-top:0.7em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:0.9em;
line-height:120%;
/* color:#00adef; */
color:#7f277e;
}

.rec-caps
{
font-family: 'OpenSans-Semibold';
margin-top:0.7em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:0.9em;
line-height:120%;
}
.rec-capsa
{
font-family: 'OpenSans-Bold';
margin-top:0.7em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:0.9em;
line-height:120%;
}
.rec-capm
{
font-family: 'OpenSans-Semibold';
margin-top:0.7em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:0.9em;
line-height:120%;
}
.rec-capc
{
font-family: 'SourceSansPro-Black';
margin-top:0.7em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:0.8em;
line-height:120%;
}
.rec-capbi
{
font-family: 'CrimsonText-SemiboldItalic';
margin-top:0.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1em;
line-height:120%;
}

.Recipe-Title
{
font-family: 'JosefinSans-Bold';
margin-top:0.5em;
margin-bottom:0.2em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.9em;
line-height:120%;
}
.Recipe-Title1
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:1em;
margin-bottom:0.8em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.9em;
line-height:120%;
}

.Recipe-1-Title
{
font-family: 'JosefinSans-Regular';
margin-top:0.5em;
margin-bottom:0.5em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.2em;
line-height:120%;
}
.Recipe-2-Titlebag
{
/* font-family: 'OpenSans-ExtraBold'; */
font-family: 'Fanfare';
/* page-break-before:always; */
margin-top:0em;
margin-bottom:0.25em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:2em;
line-height:120%;
color:#311414;
/* text-shadow: -1px 0 #F8B64A, 0 1px #F8B64A, 1px 0 #F8B64A, 0 -1px #F8B64A; */

}
.Recipe-2-Title
{
font-family: 'OpenSans-ExtraBold';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.1em;
line-height:120%;
}
.Recipe-3-Title
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.1em;
line-height:120%;
}
.Recipe-sub1-Title
{
font-family: 'OpenSans-Regular';
margin-top:1.3em;
margin-bottom:0.2em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}
.Recipe-sub2-Title
{
font-family: 'OpenSans-Regular';
margin-top:1.3em;
margin-bottom:0.2em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.Recipe-Title-color
{
font-family: 'OpenSans-ExtraBold';
margin-top:1.3em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.2em;
line-height:120%;
/* color:#00adef; */
/* color:#7f277e; */
color: #e19125;
padding:0.2em;
border-top:1px solid;
border-bottom:1px solid;
}
.Tip-Box-blu
{
font-family: 'SourceSansPro-Regular';
margin-top:1.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:0.9em;
line-height:120%;
padding-top:0.7em;
border-top:5px solid;
}
.Tip-Box-blua
{
font-family: 'SourceSansPro-Regular';
margin-top:0.5em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:0.9em;
line-height:120%;
}
.Tip-Box-title
{
font-family: 'SourceSansPro-Black';
margin-top:0.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1.4em;
line-height:120%;
}
.Tip-Box-title1
{
font-family: 'SourceSansPro-Bold';
margin-top:0.2em;
margin-bottom:0.1em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:0.9em;
padding: 0.2em;
line-height:120%;
}
.Tip-Box-title1a
{
font-family: 'SourceSansPro-Black';
margin-top:0.5em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
padding: 0.2em;
line-height:120%;
}
.ts-rec-cap
{
font-family: 'SourceSansPro-Black';
margin-top:0.5em;
margin-bottom:0.5em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1em;
line-height:120%;
}
.bentong-Box-title2
{
font-family: 'OpenSans-ExtraBold';
margin-top:0.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:0.9em;
line-height:120%;
}
.Recipe-Body-table
{
font-family: 'OpenSans-Regular';
margin-top:0.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
padding: 0.2em;
line-height:120%;
}
div.Recipe-Intro > p
{
font-family: 'SourceSansPro-Light';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
/* font-size:1.2em; */
font-size:0.95em;
line-height:120%;
padding-bottom:0.5em;
border-bottom:2px solid;
}
.Recipe-Credit
{
font-family: 'SourceSansPro-Italic';
/* font-size:80%; */
}
.Recipe-time
{
font-family: 'OpenSans-Regular';
margin-top:0.3em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}
.Recipe-time-c
{
font-family: 'CrimsonText-SemiboldItalic';
margin-top:0.3em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1em;
line-height:120%;
}
p.Bug-star
{
margin-top:0.55em;
margin-bottom:0.65em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
line-height:120%;
height:2em!important;
}
img.Bug-star
{
height:1.5em!important;
}
.act-book-txt
{
font-family: 'CrimsonText-Roman';
margin-top:0.3em;
margin-bottom:0.5em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1em;
line-height:120%;
}
.Recipe-tpage
{
font-family: 'OpenSans-Regular';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.Make-time
{
font-family: 'Sentinel-Semibold';
}
/* .Recipe-Ingredients1
{
font-family: 'OpenSans-Bold';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
font-size:0.9em;
line-height:120%;
color:#cf712d;
} */
.Recipe-Intro2
{
font-family: 'OpenSans-Regular';
margin-top:1em;
margin-bottom:1em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}
.Recipe-Ingredients1g
{
font-family: 'OpenSans-Bold';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
font-size:0.9em;
line-height:120%;
color:#278636;
}
.Recipe-Ingredients1r
{
font-family: 'OpenSans-Bold';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
font-size:0.9em;
line-height:120%;
color:#d2232a;
}
.Recipe-Ingredients1sb
{
font-family: 'OpenSans-Bold';
font-weight:bold;
margin-top:0.5em;
margin-bottom:0.2em;
margin-right:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.Recipe-Ingredients1sbi
{
font-family: 'OpenSans-Bold';
font-weight:bold;
margin-top:0.5em;
margin-bottom:0.2em;
margin-right:0em;
margin-left:1.7em;
text-indent:-1em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.Recipe-Ingredientssb
{
font-family: 'OpenSans-Bold';
font-weight:bold;
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.Recipe-Ingredientsla
{
font-family: 'OpenSans-Regular';
margin-top:1em;
margin-bottom:0.5em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}
.Recipe-Ingredientssbi
{
font-family: 'OpenSans-Bold';
font-weight:bold;
margin-top:0.2em;
margin-bottom:0.2em;
margin-right:0em;
margin-left:1.7em;
text-indent:-1em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.Recipe-Ingredients1lg
{
font-family: 'OpenSans-Bold';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
font-size:0.9em;
line-height:120%;
color:#8e8a02;
}
.Recipe-Ingredients1cb
{
font-family: 'OpenSans-Bold';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
font-size:0.9em;
line-height:120%;
color:#6b4e29;
}
/* .Recipe-Ingredients
{
font-family: 'OpenSans-Bold';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
font-size:0.9em;
line-height:120%;
color:#cf712d;
} */
.Recipe-Ingredientsg
{
font-family: 'OpenSans-Bold';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
font-size:0.9em;
line-height:120%;
color:#278636;
}
.Recipe-Ingredientsr
{
font-family: 'OpenSans-Bold';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
font-size:0.9em;
line-height:120%;
color:#d2232a;
}

.Recipe-Ingredientslg
{
font-family: 'OpenSans-Bold';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
font-size:0.9em;
line-height:120%;
color:#8e8a02;
}
.Recipe-Ingredientscb
{
font-family: 'OpenSans-Bold';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:1em;
text-indent:-1em;
text-align:left;
font-size:0.9em;
line-height:120%;
color:#6b4e29;
}
span.Method-number
{
font-family: 'Sentinel-Bold';
color:#cf712d;
}
span.Method-numberb
{
font-family: 'Sentinel-Bold';
}
span.Method-numberg
{
font-family: 'Sentinel-Bold';
color:#278636;
}
span.Method-numbersb
{
font-family: 'Sentinel-Bold';
color:#007db6;
}
span.Method-numberlg
{
font-family: 'Sentinel-Bold';
color:#8e8a02;
}
span.Method-numbercb
{
font-family: 'Sentinel-Bold';
color:#6b4e29;
}
.Recipe-Body
{
font-family: 'OpenSans-Regular';
margin-top:0.5em;
margin-bottom:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}
div.Recipe-Ingredients-Left 
{
float: left;
width: 50%;
position: relative;
}
div.Recipe-Ingredients-Right 
{
float: right;
width: 50%;
position: relative;
}
div.Recipe-Ingredients > ul > li, 
div.Recipe-Ingredients > div.Recipe-Ingredients-Left > ul > li, 
div.Recipe-Ingredients > div.Recipe-Ingredients-Right > ul > li
{
font-family: 'OpenSans-Regular';
margin-top:0.5em;
margin-bottom:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
font-size:0.8em;
line-height:115%;
}
div.Recipe-Ingredients > p,
div.Recipe-Ingredients > div.Recipe-Ingredients-Left > p, 
div.Recipe-Ingredients > div.Recipe-Ingredients-Right > p
{
font-family: 'OpenSans-CondBold';
margin-top:0.5em;
margin-bottom:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
font-size:0.8em;
line-height:115%;
}
div.Recipe-Steps > ol > li
{
font-family: 'OpenSans-Regular';
margin-top:0.5em;
margin-bottom:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
font-size:0.8em;
line-height:135%;
}
.Recipe-Body1
{
/* font-family: 'OpenSans-Regular'; */
font-family: 'SourceSansPro-Light';
margin-top:1.2em;
margin-bottom:0em;
margin-right:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}
.Recipe-Body-cb
{
/* font-family: 'CrimsonText-Roman'; */
font-family: 'SourceSansPro-Light';
margin-top:0.5em;
margin-bottom:.5em;
margin-right:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:115%;
}
.Recipe-Body-cba
{
font-family: 'CrimsonText-Roman';
margin-top:0em;
margin-bottom:0.5em;
margin-right:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}
.Subrecipe-body
{
font-family: 'Sentinel-Book';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}
.Subrecipe-bodya
{
font-family: 'Sentinel-Book';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}
div.sidebar
{
border:1px solid;
margin-top:2em;
margin-bottom:2em;
}
div.sidebar1
{
border-top:5px solid;
border-bottom:5px solid;
padding-top:0.5em;
margin-top:2em;
margin-bottom:2em;
}
.Subrecipe-title
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.2em;
line-height:120%;
}
.tip-bratrtit
{
font-family: 'SourceSansPro-Regular';
margin-top:0.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}
.tip-bratrtit1
{
font-family: 'SourceSansPro-Black';
margin-top:0.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.4em;
line-height:120%;
}
.Chart_Body-tit
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:0.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.1em;
line-height:120%;
font-weight: bold;
}
.Chart_Body-tit-sm
{
font-size:1em;
}
.Chart_Body-tita
{
font-family: 'SourceSansPro-Black';
margin-top:0.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.1em;
line-height:120%;
font-weight: bold;
}
.Chart_Body
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:0.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1em;
line-height:120%;
}
.Subrecipe-title1
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:1.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.2em;
line-height:120%;
}
.Subrecipe-ingredients
{
font-family: 'Sentinel-LightItalic';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.Subrecipe-ingredients1
{
font-family: 'Sentinel-LightItalic';
margin-top:1.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.flag
{
margin-top:1em;
margin-bottom:1em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1em;
line-height:120%;
}
.Sidebar-TitleR
{
font-family: 'ClarendonBT-Black';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1.3em;
line-height:120%;
color:#d2232a;
}
.center
{
margin-top:0.5em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center!important;
}
.Sidebar-title
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:-0.4em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1.1em;
line-height:120%;
}
.Centered-Sidebar
{
font-family: 'Sentinel-BookItalic';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:0.9em;
line-height:120%;
}
.chef-nam
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:0.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:3.2em;
line-height:120%;
}
.chef-tit
{
font-family: 'Sentinel-Black';
margin-top:0.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
div.box1
{
border:2px solid #d2aa28;
margin-top:1.5em;
padding:0.2em;
}
div.box2
{
background-color:#d2232a;
padding-bottom:0.2em;
padding-top:0.2em;
}
.Pit-Stop-title
{
font-family: 'ClarendonBT-Black';
margin-top:0.3em;
margin-bottom:0.1em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1.3em;
line-height:120%;
color:#ffffff;
}
.Pit-stop-restaurant
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:1.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1em;
line-height:120%;
}
.Pit-stop-city
{
font-family: 'Sentinel-Medium';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1em;
line-height:120%;
}
.t-title
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:0.2em;
margin-bottom:0.5em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:3em;
line-height:120%;
border-bottom:5px solid;
padding-bottom:0.2em;
}
.s1
{
vertical-align:middle;
}
.Feature-Subhead
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}
.noindent
{
font-family: 'SourceSansPro-Light';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:justify;
font-size:1.25em;
line-height:140%;
}
.noindent >span.italic
{
font-family: 'SourceSansPro-Light-Italic';
}
.noindent a
{
font-family: 'SourceSansPro-Semibold';
}
blockquote.noindent
{
font-style:italic;
font-family: 'SourceSansPro-ExtraLight-Italic';
margin-top:1em;
margin-bottom:0em;
margin-right:2em;
margin-left:2em;
text-indent:0em;
text-align:justify;
font-size:1em;
line-height:120%;
}
.copy-hed
{
/* font-family: 'OpenSans-ExtraBold'; */
font-family: 'Fanfare';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:2em;
line-height:120%;
color:#311414;
/* text-shadow: -1.5px 0 #F8B64A, 0 1.5px #F8B64A, 1.5px 0 #F8B64A, 0 -1.5px #F8B64A; */
}
.copy-subh
{
font-family: 'OpenSans-Bold';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}
.copy-tit
{
font-family: 'OpenSans-Regular';
margin-top:0.4em;
margin-bottom:0.4em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.copy-bodya
{
font-family: 'OpenSans-Regular';
margin-top:0.5em;
margin-bottom:0.1em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.copy-body
{
font-family: 'OpenSans-Regular';
margin-top:1em;
margin-bottom:0.1em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.copy-bodyb
{
font-family: 'OpenSans-Regular';
margin-top:1em;
margin-bottom:0.1em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
border-top:1px solid;
padding-top: 0.6em;
}
.copy-body1
{
font-family: 'OpenSans-Regular';
margin-top:0.1em;
margin-bottom:0.1em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.attibution
{
font-family: 'SourceSansPro-Semibold';
margin-top:0.1em;
margin-bottom:0.5em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.Sidebar-Hed-Caps
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1.2em;
line-height:120%;
}
.s-head1
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:0.2em;
margin-bottom:0.1em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:3em;
line-height:120%;
}
.s-head11
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:0.5em;
margin-bottom:0.1em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:3em;
line-height:120%;
}
.s-text1
{
font-family: 'Sentinel-BookItalic';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.3em;
line-height:120%;
}
.SM-Caption-title
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:1.2em;
margin-bottom:0.2em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1em;
line-height:120%;
}
.SM-Reverse-Caption
{
font-family: 'Sentinel-SemiboldItalic';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:0.9em;
line-height:120%;
}
.noteO
{
font-family: 'Sentinel-Bold';
color:#cf712d;
}
.Noteg
{
font-family: 'Sentinel-Bold';
color:#278636;
}
.Notesb
{
font-family: 'Sentinel-Bold';
color:#007db6;
}
.Notelg
{
font-family: 'Sentinel-Bold';
color:#8e8a02;
}
.Notecb
{
font-family: 'Sentinel-Bold';
color:#6b4e29;
}
.Italic-Pull-Quote
{
font-family: 'Sentinel-LightItalic';
margin-top:0.8em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.5em;
line-height:120%;
color:#d2232a;
}
span.f7
{
font-size:0.8em;
vertical-align:top;
}
.photo-head
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:1em;
margin-bottom:0.4em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.8em;
line-height:120%;
color:#d2232a;
}
.photo-head-h3
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:1.5em;
margin-bottom:0.2em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.8em;
line-height:120%;
color:#d2232a;
}
.p-text
{
font-family: 'Sentinel-Book';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1.1em;
line-height:120%;
}
.noindent-b
{
font-family: 'SurveyorText-Bold';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.noindent-b1
{
font-family: 'SurveyorText-Bold';
margin-top:1.2em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:0.9em;
line-height:120%;
}
.btitc
{
font-family: 'ScriptMTStd-Bold';
margin-top:0.6em;
margin-bottom:0.7em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1.6em;
line-height:120%;
}
.bmbox
{
background-color:#d2aa28;
padding-top:0.5em;
padding-bottom:0.5em;
margin-top:1em;
}
.Special-Menu-Titles
{
font-family: 'ClarendonBT-BoldCondensed';
margin-top:1em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:1.2em;
line-height:120%;
}
.Special-Menu-text
{
font-family: 'Sentinel-BookItalic';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:0.9em;
line-height:140%;
}
.CR2
{
font-family: 'RequiemText-HTF-Roman';
margin-top:3em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:left;
font-size:1em;
line-height:120%;
}
.sid-listc
{
font-family: 'CrimsonText-Roman';
margin-top:0em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:0.9em;
line-height:120%;
}

.blue
{
color:#00adef;
}
.purple {
color:#7f277e;
}
.yellow
{
color:#F8B64A;
}
.cranberry {
color:#401820;
}
.lavender
{
color:#aa76be;
}
.lt-grey {
color:#d3cdd4;
}
.white {
color:#FFFFFF;
}
.red {
color:#ff2d40;
}

.en_brown {
color:#311414;
}
.dark-red {
color:#ad341e;
}
.deep-red {
color:#ce3e24;
}
.orange {
color:#c85118;
}
.mid-orange {
color:#c85118;
}
.lt-org {
color:#e19125;
}
.en_yellow {
color:#F8B64A;
}
.bottom-line
{
border-bottom:1px solid;
}
.bottom-line-light
{
border-bottom:1px dotted #000000;
width: 100%;
}

.table
{
vertical-align:top;
border-top:1px dotted #000000;
border-right:1px dotted #000000;
border-bottom:1px dotted #000000;
padding:.2em;
}

.tablev
{
vertical-align:top;
border-top:1px dotted #000000;
border-right:1px dotted #000000;
border-bottom:0px dotted #000000;
padding:.2em;
}

.table1b
{
vertical-align:top;
border-right:1px dotted #000000;
border-bottom:1px dotted #000000;
padding:.2em;
}
.table1b-left
{
border-left:1px dotted #000000;
}
.table2
{
vertical-align:top;
border-bottom:1px dotted #000000;
padding:.2em;
}
.table3
{
vertical-align:top;
padding:.2em;
}
.tablem
{
vertical-align:middle;
padding:.2em;
color: #FFFFFF;
background-color:#F8B64A;
}

.table-wine
{
/* vertical-align:middle;
padding:.2em;
color: #FFFFFF; */
background-color:#7f277e;
}

.tablea
{
vertical-align:top;
border-right:1px solid #000000;
border-bottom:1px solid #000000;
padding:.2em;
}
.tablea1
{
vertical-align:top;
border-right:1px solid #000000;
padding:.2em;
}
.tablea2
{
vertical-align:top;
border-bottom:1px solid #000000;
padding:.2em;
}
.tablea3
{
vertical-align:top;
padding:.2em;
}

.table2a
{
vertical-align:top;
border-top:1px solid #000000;
padding:.2em;
}

.tab
{
/* margin-top: 0.1em; */
margin-top: 1em;
/* margin-bottom: 0.2em; */
text-align:center;
}
/* https://stackoverflow.com/questions/19711904/css-image-sizing */
.imageWrapperBasic {
    text-align:center;
    page-break-inside:avoid;
}
.imageWrapperBasic img {
    min-height: 300px;
    padding-top:1em;
    padding-bottom:1em;
    display:inline-block;
    margin:0 auto;
}
.imageWrapperHi {
    height:99%;
    text-align:center;
    page-break-inside:avoid;
}
.imageWrapperHi img {
    min-height: 300px;
    padding-top:1em;
    padding-bottom:1em;
    display:inline-block;
    height:100%;
    margin:0 auto;
}
.imageWrapperWide {
    width:100%;
    padding-top:0.5em;
    padding-bottom:0.75em;
    text-align:center;
    page-break-inside:avoid;
}
.imageWrapperWide img {
    display:inline-block;
    padding-top:0.5em;
    padding-bottom:0.25em;
    width:100%;
    margin:0 auto;
}

.icon-table {
  vertical-align:middle;
}

.icon-table span {
  color:white;
  display: block;
  /* top: -1.5em; */
  position: relative;
  text-align: center;
}

.icon-table td{
  z-index: 1;
  /* width:24%; */
}
.icon-table a{
    text-decoration:none!important;
    color:white!important;
}
.icon-table img {
    height: 1.5em;
    padding: 0.25em 3em;
    display:inline-block;
    margin:0 auto;
}

.bkg-img
{
min-height: 8em;
display:inline-block;
margin-left: auto;
margin-right: auto;
margin:0 auto;
height:99%;
text-align:center;
page-break-before:always;
page-break-inside:avoid;
page-break-after:always;
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
background-size: cover;
}

.full-page-img {
  /* height:auto; */
  max-height:80%; /* for kindle. any bigger and it won't fit. */
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top:0;
}
.caption {
  font-family: 'SourceSansPro-Semibold';
  font-size:.75em;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  bottom:0;
  position: relative;
}
}
.small-page-img {
  width:100%;
  text-align:center;
}
.small-page-img img {
  padding-top: 0.5em;
}
.small-page-img p{
  text-align:center;
}
.rec-cap
{
font-family: 'SourceSansPro-Semibold';
margin-top:0.4em;
margin-bottom:0em;
margin-right:0em;
margin-left:0em;
text-indent:0em;
text-align:center;
font-size:.75em;
line-height:100%;
}
div.inline
{
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.inline ul
{
margin: 0;
padding: 0;
list-style-type: none;
width: 100%;
}

.inline ul li { display: inline; }

.inline ul li a
{
text-decoration: none!important;
padding: .2em 1em;
}

#author-pic {
  max-height: 5em!important;
  height:5em!important;
  border-radius: 5em!important;
}
p.contributor-credit {
  text-align:center;
  margin: 0;
  max-height: 15em;
}
img.contributor-credit {
  height: 10em;
  padding: 1em;
}

.social-bkg {
  background-size: 2em;
  background-repeat: no-repeat;
  z-index: 1;
  background-position: center;
}
.facebook-bkg {
  background-image: url(images/facebook.jpg);
}
.instagram-bkg {
  background-image: url(images/instagram.jpg);
}
.twitter-bkg {
  background-image: url(images/twitter.jpg);
}
.youtube-bkg {
  background-image: url(images/youtube.jpg);
}

.full-center {
  width: 100%;
}
.bkg-img{
  height:99%;
  width:100%;
  text-align:center;
  page-break-inside:avoid;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  }
  
.fancybluetable {
  margin: 0;
  padding: 0;
  width: 100%;
  box-shadow: 10px 10px 5px #888;
  border: 1px solid #000;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0;
}  
table.fancybluetable {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 0 2em;
}
.datatable, .fancytable, .fancybluetable, .rankingtable, .tabs {
  font-family: arial narrow;
  font-size: 17px;
  font-weight: 300;
}