<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Resources</title>
    {{ CSS_SNIPPET|safe }}
  </head>

  <body>
    <p class="Chapter-Title">INDEX</p>

    {% for item in items %}
        <p class="content-recipe-title">
          {{ forloop.counter }}. 
          <a href="{{item.internal_url}}">
            {{item.title}} <span style="font-style: italic;">({{item.section.chapter.title}})</span>
          </a>
        </p>
    {% endfor %}

    <div class = "page"></div>
  </body>
</html>
