<div style="page-break-inside: avoid; -webkit-page-break-inside: avoid;">
  {% if component.img_url|length > 0 %}
      <img class="full-page-img" style="padding-top: 2em;" src="{{ component.img_url }}"/>
  {% endif %}
  
  <{{ heading_level|default:"h3" }}>
    <span class="line dark-blue">{{ component.title|safe }}</span>
  </{{ heading_level|default:"h3" }}>  
</div>
  
  {% with text=component.main_text|safe %}
  {% if component.category_text %}
  <span class = "dark-blue" style = "display: inline;">
    {{ component.category_text|upper }}
  </span>
  <div style = "margin-top:-1em;">
  {% else %}
  <div>
  {% endif %}
    {{  text|linebreaks }}
    </div>
  {% endwith %}


