<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <title>{{ book.title|safe }}</title>
  {{ CSS_SNIPPET|safe }} 
</head>

<body>

  {% if chapter.display_title %}
    <p class="Chapter-Title">
      <span class="line">{{ chapter.title }}</span>
    </p>  
    <hr>
  {% endif %}

  {% if chapter.intro %}
    <p>
      {% with text=chapter.intro|safe %}
        {{text|linebreaks}}
      {% endwith %}
    </p>
    <hr>
  {% endif %}

  {% if chapter.img_url|length > 0 %}
    <img class="full-page-img" src="{{ chapter.img_url }}"/>
  {% endif %}
  

  {% if chapter.bodyText %}
    <p>
      {% with text=chapter.bodyText|safe %}
        {{text|linebreaks}}
      {% endwith %}
    </p>
    <hr>
  {% endif %}

  {% for sub in top5 %}
    {% with component=sub %}
      {% include "ebook_exporter/TG/subsection_snippet.html" with heading_level="h3" %}
    {% endwith %}
  {% endfor %}


  {% for section in sections %}
    <span class="anchor" id="section-{{section.obj.pk}}"></span>
    <div class="page1"></div>
   
  {% with component=section %}
    {% include "ebook_exporter/TG/image_snippet.html" with heading_level="h1" %}
  {% endwith %}

    {% for sub in section.subsections %}
      {% with component=sub %}
        {% include "ebook_exporter/TG/subsection_snippet.html" with heading_level="h3" %}
      {% endwith %}
    {% endfor %}

  <hr>
  <div class="page-end"></div>
{% endfor %}


{% if chapter.map_img_url|length > 0 %}
  <img class="full-page-img" src="{{ chapter.map_img_url }}"/>
{% endif %}


</body>
</html>
